<%- include('partials/header.ejs') %>
<%- include ('partials/content.ejs') %>
    
    <!--main content--> 
    <main class="container">
        <div class="jumbotron">
          <h1 class="display-4">Welcome to the <%= title %> page</h1>
          <p><a><img src="Assets/images/My face.jpg" alt = "me" width="300" height="300" style="float:right"></a>
            <i>My name is Mandeep Kaur. Im pursuing programming because I was always curious to learn about technology.<br>I am someone who is extrovert which makes me feel more confident. But also I'm more comfortable with <br>people
              i know because I feel they understand me better and information conveyed to them will be<br> interpreted easily.
              My hobbies are reading books and listening songs.I have a lot of belief in dreaming big <br>and taking steps to pursue these dreams.</i>  </p>
      </div>
      <a href="https://drive.google.com/file/d/1kM27Y0CScanLqUPQxX8OZ4SzK9bnE81X/view?usp=sharing" target="_blank">My resume</a>
      
      </main>
<%- include ('partials/footer.ejs') %>    