<%- include('partials/header.ejs') %>
<%- include ('partials/content.ejs') %>
    
    <!--main content--> 
    <main class="container">
        <div class="jumbotron">
          <h1 class="display-4">Welcome to the <%= title %> page</h1><br>
          <p><a><img src="Assets/images/My face.jpg" alt = "me" width="250" height="250" style="float:right ;margin-top: 0px"></a>
            <i>My name is Pak Tak Lau. I am keen on learning programming as I decide to my open a new page in my career.<br><br>I hope to learn more in college in order to enrich my knowlege. <br><br>
              My wish is I can get to understand most popular languages and master them very well.<br><br>
              My hobbies are playing table tennis, guitar, and I like to drink with my friends. <br><br></i>  
            </p>
      </div>
      <p>You may click here to see <a href="https://drive.google.com/file/d/1kM27Y0CScanLqUPQxX8OZ4SzK9bnE81X/view?usp=sharing" target="_blank">My resume</a></p>
      
      </main>
<%- include ('partials/footer.ejs') %>    