<%- include ('partials/header.ejs') %>
<%- include ('partials/content.ejs') %>
    <!--main content--> 
    <main class="container">
        <div class="jumbotron">
          
          <h1 class="display-4">Welcome to my <%= title %> page</h1>
          <br>
          <h4>Mission statement: </h4><br>
          <p>I am a passionate student. I will keep my mind to playing and experimenting <br><br>
            without the fear of failure. There will always be things I have to learn and I will make mistakes, <br><br>which develop me.</p><br>
        </div>
      </main>
      <%- include ('partials/footer.ejs') %>  
 
 