<%- include('partials/header.ejs') %>
<%- include ('partials/content.ejs') %>   

<!--main content--> 
   <main class="container">
    <div class="jumbotron">
      
      <h1 class="display-4">Welcome to my <%= title %> page</h1>
      <p><img src="Assets/images/app.jpg" alt = "services" width="450" height="280" style="float:right; margin-top: 0px"></p>
      <div style="padding-top: 20px;">
          <h2>Services</h2><br>
          <ul>
              <h2>The services I can offer to you: </h2><br>
              <li>App Development (include Andriod and Apple)</li>
              <li>Database</li>
              <li>web Application Development</li>
              <li>C#</li>
              <li>Java</li>
              
          </ul>
      </div>
 
    </div>
  </main>
<%- include ('partials/footer.ejs') %>   