body{
    background:#ccccb2;
    font-size: large;
  }

form{
    padding: 50px 20px;
}

fieldset{
    border: solid;
    width: 900px;
}

#email{
    color: #6226b6;
}

nav li{
    font-size: 30px;
}

#project1{
    border:solid;
    width: 1005px;;
    height: auto;
}

#project2{
    border:solid;
    width: 1005px;;
    height: auto;
}

#project3{
    border:solid;
    width: 1005px;;
    height: auto;
}

