/*File name:public/Content/app.css
Student name: Pak Tak Lau 
Student ID: 301224147   
Date: 19 Oct 2022*/

body{
    background:#ccccb2;
    font-size: large;
  }

form{
    padding: 50px 20px;
}

fieldset{
    border: solid;
    width: 900px;
}

#email{
    color: #6226b6;
}

nav li{
    font-size: 30px;
}

#project1{
    border:solid;
    width: 1005px;;
    height: auto;
}

#project2{
    border:solid;
    width: 1005px;;
    height: auto;
}
/*File name:app.css
Student name: Pak Tak Lau 
Student ID: 301224147   
Date: 19 Oct 2022*/
#project3{
    border:solid;
    width: 1005px;;
    height: auto;
}

